- title = page&.page_title
- description = page&.description
- image = page&.image
- if page&.image.present?
  - image = page.image
- else
  - image = page.default_image_url

title = title

meta{name="title" content=title}
meta{name="description" content=description}
meta{name="image" content=image}

meta{property="og:title" content=title}
meta{property="og:description" content=description}
meta{property="og:image" content=image}

meta{property="twitter:card" content="summary_large_image"}
meta{property="twitter:title" content=title}
meta{property="twitter:description" content=description}
meta{property="twitter:image" content=image}

= page&.json_lds&.html_safe
